.input {
  padding: 0.5rem;
  border: 1px solid var(--background-color-grey);
  border-radius: var(--radius);
  width: 100%;
  max-width: 450px;
}

.input:disabled {
  background-color: var(--background-color-lightgrey);
  color: #333;
  cursor: not-allowed;
}

.input:focus {
  border: 1px solid var(--input-focus);
  outline: none;
}
