@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
  font-family: var(--font-jetbrains);
  background-color: var(--background-color-white);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-roboto);
  color: var(--primary-color);
}

:root {
  --header-h: 80px;
  --background-color-white: white;
  --background-color-lightgrey: #f2f2f2;
  --background-color-grey: #dfdfdf;
  --primary-color: #1761ab;
  --secondary-color: #f59e2d;
  --input-focus: #f59e2d;
  --text-color: #3d4247;
  --radius: 0.4rem;
  --font-roboto: 'Roboto', sans-serif;
  --font-jetbrains: 'JetBrains Mono', monospace;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}


