* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color-white);
  color: #1f2937;
}

:root {
  --background-color-white: #f2f2f2;
  --background-color-grey: #dfdfdf;
  --primary-color: #1761ab;
  --secondary-color: #ffb454;
  --input-focus: #ffb454;
  --text-color: #1f2937;
  --radius: 0.4rem;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}
