.home {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  scroll-behavior: smooth;
  min-height: 100vh;
}

.title {
  font-size: clamp(36px, 2.5vw, 54px);
  font-weight: 500;
  margin: 1rem 0;
  text-align: center;
}

.nameTitle {
  font-size: clamp(28px, 2vw, 36px);
  font-weight: 500;
  margin: 0.5rem 0;
  text-align: center;
}

/* Colonne gauche */
.colLeft {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  background-color: var(--background-color-white);
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  padding: 2vw;
  background-color: var(--background-color-white);
  border-radius: var(--radius);
  margin-top: 10rem;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.15);
}
.sidebarHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--background-color-grey);
}
.sidebarTitle {
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 1vh;
}
.sidebarContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1vh;
}
.languageList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
  transition: ease-in-out 0.2s;
}

.link:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Colonne centrale */
.colCenter {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 800px;
  padding: 2vw 0;
  background-color: var(--background-color-white);
  border-right: 2px solid var(--border-color);
  min-width: 800px;
}

.postsTitle {
  font-size: 1.7rem;
  font-weight: 500;
}

/* Colonne droite */
.colRight {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  background-color: var(--background-color-white);
}

/* Header central (row 1, col 2) */
.centerHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vw 0 1vw 0;
  border-radius: var(--radius);
}

/* Zone recherche */
.searchArea {
  display: flex;
  width: 100%;
  min-width: 800px;
  justify-content: center;
  padding: 2vw;
  position: sticky;
  top: var(--header-h);
  z-index: 20;
  border-radius: var(--radius);
  background: radial-gradient(
    circle at bottom,
    var(--background-color-lightgrey) 0%,
    #ffffff 50%
  );
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
}

/* Entête de section des posts */
.postHeader {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vw 0 1vw 0;
  border-bottom: 2px solid var(--border-color);
}


