.home {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  scroll-behavior: smooth;
}

/* Colonne gauche */
.colLeft {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  background-color: var(--background-color-white);
}

/* Colonne centrale */
.colCenter {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 800px;
  padding: 2vw;
  background-color: var(--background-color-white);
  border-right: 2px solid var(--border-color);
  min-width: 800px;
}

.postsTitle {
  font-size: 1.7rem;
  font-weight: 500;
}

/* Colonne droite */
.colRight {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  background-color: var(--background-color-white);
}

/* Header central (row 1, col 2) */
.centerHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  padding: 2vw 0 1vw 0;
  border-radius: var(--radius);
}

/* Zone recherche */
.searchArea {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  padding: 3vw;
  position: sticky;
  top: var(--header-h);
  z-index: 20;
  background: var(--background-color-white);
  border-bottom: 1px solid var(--background-color-grey);
}

.searchInput {
  width: 100%;
  font-family: var(--font-jetbrains);
  font-size: 16px;
  line-height: 1.4;
  color: var(--text-color);
  background: var(--background-color-white);
  border: 1px solid var(--background-color-grey);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: var(--radius);
  padding: 0.7vh 14px;
  outline: none;
  transition: border-color 0.15s ease, box-shadow 0.15s ease;
  background: 0.2s ease;
}

/* Entête de section des posts */
.postHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
  padding: 1vw;
  border-bottom: 2px solid var(--border-color);
}

/* Conteneur des posts */
.postsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1vw;
  background-color: var(--background-color-white);
  border-radius: var(--radius);
}
