.content {
  display: flex;
  flex-direction: column;
}

.btnBack {
  margin: 20px 60px;
}

.postContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.postHeader{
    display: flex;
    gap: 3rem;
    min-width: 300px;
}

.postHeaderTitle {
    min-width: 400px;
}

.postAuthor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-family: var(--font-jetbrains);
  color: var(--primary-color);
}
.subTitle {
  font-size: 1rem;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.followTopicBtn {
  color: var(--primary-color);
}

.followTopicBtn:hover {
  cursor: pointer
}

.postContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sujectContent {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  min-height: 200px;
}

.sujectContent p {
    width: 80%;
    min-height: 200px;
    height: auto;
    max-height: 1000px;
    padding: 1rem;
    font-family: var(--font-jetbrains);
    font-weight: 400;
    font-style: normal;
    border: 1px solid var(--background-color-grey);
    border-radius: var(--radius);
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 1rem;
    background-color: var(--background-color-lightgrey);
}

.responses {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  min-height: 200px;
}

.modal {
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: var(--background-color-grey);
  border-radius: var(--radius);
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
}
.modalHeader h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  font-family: var(--font-jetbrains);
}

.answerButton {
  background-color: var(--background-color-grey);
  border: 1px solid var(--background-color-white);
  border-radius: var(--radius);
  padding: 0.5rem;
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  width: 350px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5rem;
  transition: background-color 0.2s ease;
}
.answerButton p {
  font-family: var(--font-jetbrains);
}

.answerButton:hover {
  background-color: white;
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
}

.btnTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 1rem;
  font-family: var(--font-jetbrains);
}

.answersList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.8rem;
}   

.answerCard {
  width: 100%;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 2rem;
  border: 1px solid var(--background-color-grey);
  border-radius: var(--radius);
  background-color: var(--background-color-white);
}

.answerCard .answerHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color-lightgrey);
}

.answerContent {
  width: 100%;
  min-height: 100px;
  padding: 1rem;
  font-family: var(--font-jetbrains);
  font-weight: 400;
  font-style: normal;
  border: 1px solid var(--background-color-grey);
  border-radius: var(--radius);
}

.answerAuthor {
  font-style: italic;
  font-family: JetBrains Mono;
  color: var(--text-color);
  font-size: 0.9rem;
  color: var(--primary-color);
  font-weight: 700;
}

.answerDate {
  font-size: 0.8rem;
  color: var(--secondary-color);
  font-family: var(--font-jetbrains);
}

.content {
    display: flex;
    flex-direction: column;
}

.btnBack {
    margin: 20px 60px;
    
}

.postContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.postHeader{
    display: flex;
    gap: 3rem;
    width: 60%;
    height: auto;
}

.postHeaderTitle {
    min-width: 300px;
    font-size: 1rem;
}

.postHeaderTitle h1 {
    font-size: 1.5rem;
}

.postAuthor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: var(--font-jetbrains);
    color: var(--primary-color);
}
.subTitle {
    font-size: 1rem;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.followButton {
    border: none;
    background-color: var(--background-color-white);
}

.popoverContainer {
  position: top;
  display: inline-block;
}

.popover {
  position: absolute;
  bottom: 100%; 
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 100;
}

.postContent {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sujectContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.sujectContent p {
    width: 80%;
    padding: 1rem;
    font-family: var(--font-jetbrains);
    font-weight: 400;
    font-style: normal;
    border: 1px solid var(--background-color-grey);
    border-radius: var(--radius);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 1rem;
    overflow-y: auto;
    background-color: var(--background-color-lightgrey);
}

.responses {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    min-height: 200px;
}

.modal{
    width: 50%;
    height: 50%;
    position: absolute;
    background-color: var(--background-color-grey);
    border-radius: var(--radius);
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
}
.modalHeader h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    font-family: var(--font-jetbrains);
}

.answerButton {
    background-color: var(--background-color-grey);
    border: 1px solid var(--background-color-white);
    border-radius: var(--radius);
    padding: 0.5rem;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.5rem;
    display:flex;
    justify-content: center;
    gap: 0.5rem;
    width: 350px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5rem;
    transition: background-color 0.2s ease;
}
.answerButton p {
    font-family: var(--font-jetbrains);
}

.answerButton:hover {
    background-color: white;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 70%;
    margin: 0 auto;
}

.btnTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-family: var(--font-jetbrains);
}

.answersList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.8rem;
}   

.answerCard {
    width: 100%;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 2rem;
    border: 1px solid var(--background-color-grey);
    border-radius: var(--radius);
    background-color: var(--background-color-white);
}

.answerCard .answerHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--background-color-lightgrey);
}

.answerContent {
    width: 100%;
    min-height: 100px;
    padding: 1rem;
    font-family: var(--font-jetbrains);
    font-weight: 400;   
    font-style: normal;
    border: 1px solid var(--background-color-grey);
    border-radius: var(--radius);
}

.answerAuthor {
    font-style: italic;
    font-family: JetBrains Mono;
    color: var(--text-color);
    font-size: 0.9rem;
    color: var(--primary-color);
    font-weight: 700;
}

.answerDate {
    font-size: 0.8rem;
    color: var(--secondary-color);
    font-family: var(--font-jetbrains);
}