.content {
  width: 100%;
  height: calc(100vh - 8.5rem);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.btnBack {
  margin: 20px 60px;
}

.formContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.formContainer .textIntro {
  color: var(--text-color);
  font-size: 18px;
  margin-bottom: 10px;
  font-family: var(--font-jetbrains);
  width: 50vw;
  text-align: justify;
}

.title {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 50px;
  font-family: var(--font-roboto);
}

.description {
  padding: 10px;
  border-radius: var(--radius);
  color: var(--text-color);
  font-size: 16px;
  font-family: var(--font-jetbrains);
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  margin: 30px auto;
  flex-direction: column;
  width: 60%;
  align-items: center;
  font-family: var(--font-jetbrains);
}

.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  min-width: 800px;
  padding: 20px;
}

.radioGroupContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.radioGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 5rem 0;
}
