.sidebar {
  width: 25%;
  padding: 20px;
  background-color: white;
  border-right: 1px solid var(--background-color-grey);
}

.profile {
  margin-top: 20px;
  background-color: var(--background-color-white);
  border: 1px solid var(--background-color-grey);
  border-radius: var(--radius);
  padding: 15px;
}

.avatar {
  width: 80px;
  border-radius: var(--radius);
  margin: 30px 0 20px 0;
}

.userName {
  color: var(--primary-color);
  margin-bottom: 5px;
}

.pencil {
  color: var(--secondary-color);
}

.links {
  margin-top: px;
}

.follows {
  margin-top: 50px;
}

.followsTitle {
   margin-bottom: 10px;
}

.followedUser {
  display: flex;
}

.userLine {
  display: flex;
  width: 140px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.smallAvatar {
  width: 35px;
  border-radius: 50%;
}

.techIcons {
  font-size: 12px;
  color: #666;
}
