.footer {
  display: flex;
  margin-top: 3rem;
  background-color: var(--background-color-grey);
  color: var(--primary-color);
  text-align: center;
  padding: 1rem;
  z-index: 100;
  justify-content: center;
}
